.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background-color: darkblue;
    align-items: center;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }